<html>

<body>
    <app-navbar></app-navbar>
    <div class="content container-fluid form-group">
        <div class="container-sm pt-3 pb-3 mb-3" id="border">
            <div class="row">
                <div class="input-group col-sm-4 align-self-center">
                    <input [(ngModel)]="characterSheet.characterName" [ngStyle]="{'border': valuesMissing && characterSheet.characterName == '' ? '1px solid #f00' : '1px solid #000'}" type="text" placeholder=" ">
                    <label class="floating fix">Character Name</label>
                </div>
                <div class="container-sm col-8">
                    <div class="row">
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.class" class="bottom-border" type="text" placeholder=" ">
                            <label class="floating fix">Class</label>
                        </div>
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.level" class="bottom-border" type="number" placeholder=" ">
                            <label class="floating fix">Level</label>
                        </div>
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.background" class="bottom-border" type="text" placeholder=" ">
                            <label class="floating fix">Background</label>
                        </div>
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.race" class="bottom-border" type="text" placeholder=" ">
                            <label class="floating fix">Race</label>
                        </div>
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.alignment" class="bottom-border" type="text" placeholder=" ">
                            <label class="floating fix">Alignment</label>
                        </div>
                        <div class="input-group col-4">
                            <input [(ngModel)]="characterSheet.xp" class="bottom-border" type="text" placeholder=" ">
                            <label class="floating fix">Experience</label>
                        </div>
                    </div>
                </div>
                <div class="container-sm col-4">
                    <div class="row">
                        <div class="container-sm col-4">
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.str" [ngStyle]="{'border': valuesMissing && characterSheet.str == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Strength</label>
                            </div>
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.dex" [ngStyle]="{'border': valuesMissing && characterSheet.dex == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Dexterity</label>
                            </div>
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.con" [ngStyle]="{'border': valuesMissing && characterSheet.con == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Constitution</label>
                            </div>
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.int" [ngStyle]="{'border': valuesMissing && characterSheet.int == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Intelligence</label>
                            </div>
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.wis" [ngStyle]="{'border': valuesMissing && characterSheet.wis == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Wisdom</label>
                            </div>
                            <div class="input-group ability-score">
                                <input (change)="fillValues()" [(ngModel)]="characterSheet.cha" [ngStyle]="{'border': valuesMissing && characterSheet.cha == undefined ? '1px solid #f00' : '1px solid #000'}" type="number" placeholder=" ">
                                <label class="stay">Charisma</label>
                            </div>
                        </div>
                        <div class="container-sm col-8">
                            <div class="container align-self-center p-0 modifier">
                                <input [(ngModel)]="characterSheet.inspiration" type="number" placeholder=" " class="col-3 d-inline-block">
                                <label class="d-inline-block ml-2 align-self-center">Inspiration</label>
                            </div>
                            <div class="container align-self-center p-0 modifier">
                                <input [(ngModel)]="characterSheet.proficiency" type="number" placeholder=" " class="col-3 d-inline-block">
                                <label class="d-inline-block ml-2 align-self-center">Proficiency</label>
                            </div>
                            <div class="pl-1 pr-1 saving-throws mb-1" id="border">
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.strSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Strength</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.dexSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Dexterity</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.conSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Constitution</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.intSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Intelligence</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.wisSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Wisdom</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.chaSave" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Charisma</label>
                                </div>
                                <label class="desc">Saving Throws</label>
                            </div>
                            <div class="pl-1 pr-1 saving-throws" id="border">
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.acrobatics" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Acrobatics (Dex)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.animalHandling" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Animal Handling (Wis)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.arcana" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Arcana (Int)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.athletics" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Athletics (Str)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.deception" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Deception (Cha)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.history" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">History (Int)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.insight" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Insight (Wis)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.intimidation" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Intimidation (Cha)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.investigation" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Investigation (Int)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.medicine" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Medicine (Wis)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.nature" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Nature (Int)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.perception" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Perception (Wis)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.performance" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Performance (Cha)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.persuasion" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Persuasion (Cha)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.religion" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Religion (Int)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.sleightOfHand" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Sleight of Hand (Dex)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.stealth" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Stealth (Dex)</label>
                                </div>
                                <div class="container align-self-center p-0 modifier">
                                    <input [(ngModel)]="characterSheet.survival" type="number" placeholder=" " class="col-2 d-inline-block bottom-border">
                                    <label class="d-inline-block ml-2 align-self-center">Survival (Wis)</label>
                                </div>
                                <label class="desc">Skills</label>
                            </div>
                        </div>
                    </div>
                    <div class="container align-self-center p-0 mt-3 modifier">
                        <input [(ngModel)]="characterSheet.passiveWisdom" type="number" placeholder=" " class="col-2 d-inline-block">
                        <label class="d-inline-block ml-2 align-self-center">Passive Perception</label>
                    </div>
                    <div class="input-group languages">
                        <textarea [(ngModel)]="characterSheet.proficienciesLangues" class="mb-3" type="text" placeholder=" "></textarea>
                        <label class="stay">Languages</label>
                    </div>
                </div>
                <div class="container-sm col-4">
                    <div class="row justify-content-between">
                        <div class="input-group col-3 p-0">
                            <input [(ngModel)]="characterSheet.ac" type="number" placeholder=" ">
                            <label class="floating">AC</label>
                        </div>
                        <div class="input-group col-3 p-0">
                            <input [(ngModel)]="characterSheet.initiative" type="number" placeholder=" ">
                            <label class="floating">Initiative</label>
                        </div>
                        <div class="input-group col-3 p-0">
                            <input [(ngModel)]="characterSheet.speed" type="number" placeholder=" ">
                            <label class="floating">Speed</label>
                        </div>
                        <div class="container align-self-center p-0 modifier">
                            <input [(ngModel)]="characterSheet.hpMax" type="number" placeholder=" " class="col-2 d-inline-block">
                            <label class="d-inline-block ml-2 align-self-center">Max Hit Points</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="characterSheet.currHp" type="number" placeholder=" ">
                            <label class="floating">Current Hit Points</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="characterSheet.tempHp" type="number" placeholder=" ">
                            <label class="floating">Temporary Hit Points</label>
                        </div>
                        <div class="input-group align-self-center p-0 col-6">
                            <input [(ngModel)]="characterSheet.hitDice" type="number" placeholder=" ">
                            <label class="floating">Hit Dice</label>
                        </div>
                        <div class="col-6">
                            <div class="container align-self-center p-0 mt-2 deathsave">
                                <input [(ngModel)]="characterSheet.deathSaveSuccess" type="number" placeholder=" " class="col-3 d-inline-block">
                                <label class="d-inline-block ml-2">Successes</label>
                            </div>
                            <div class="container align-self-center p-0 mt-2 deathsave">
                                <input [(ngModel)]="characterSheet.deathSaveFail" type="number" placeholder=" " class="col-3 d-inline-block">
                                <label class="d-inline-block ml-2">Fails</label>
                            </div>
                        </div>
                        <div class="input-group attacks">
                            <div class="lists mb-0" type="text" placeholder=" ">
                                <div class="container p-0">
                                    <table class="table table-bordered mb-0">
                                        <thead>
                                            <th class="name" scope="col">Name</th>
                                            <th class="bonus" scope="col">Bonus</th>
                                            <th class="dmg" scope="col">Dmg</th>
                                            <th class="type" scope="col">Type</th>
                                            <th class="type" scope="col">&nbsp;</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let weapon of characterSheet.weapons">
                                                <td><input [(ngModel)]="weapon.name" type="text" class="form-control" />
                                                </td>
                                                <td><input [(ngModel)]="weapon.atkBonus" type="number" class="form-control" /></td>
                                                <td><input [(ngModel)]="weapon.dmg" type="number" class="form-control" />
                                                </td>
                                                <td><input [(ngModel)]="weapon.type" type="text" class="form-control" />
                                                </td>
                                                <td><span (click)="removeWeapon(weapon)" class="close">x</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a (click)="addWeapon()" href="#" onclick="return false" class="add-weapon">
                                        <img type="image" alt="add" src="assets/add.png" class="add-weapon" />
                                    </a>
                                </div>
                            </div>
                            <label class=" stay ">Attack & Spellcasting</label>
                        </div>
                        <div class="input-group col-3 p-0 ">
                            <input [(ngModel)]="characterSheet.gold" type="number " placeholder=" ">
                            <label class="floating ">Gold</label>
                        </div>
                        <div class="input-group col-3 p-0 ">
                            <input [(ngModel)]="characterSheet.silver" type="number " placeholder=" ">
                            <label class="floating ">Silver</label>
                        </div>
                        <div class="input-group col-3 p-0 ">
                            <input [(ngModel)]="characterSheet.copper" type="number " placeholder=" ">
                            <label class="floating ">Copper</label>
                        </div>
                        <div class="input-group equipment ">
                            <textarea class="mb-1 " type="text " placeholder=" "></textarea>
                            <label class="stay ">Equipment</label>
                        </div>
                    </div>
                </div>
                <div class="container-sm col-4 ">
                    <div class="input-group ">
                        <textarea [(ngModel)]="characterSheet.personality" class="bottom-border mb-3 " type="text " placeholder=" "></textarea>
                        <label class="floating ">Personality Traits</label>
                    </div>
                    <div class="input-group ">
                        <textarea [(ngModel)]="characterSheet.ideals" class="bottom-border mb-3 " type="text " placeholder=" "></textarea>
                        <label class="floating ">Ideals</label>
                    </div>
                    <div class="input-group ">
                        <textarea [(ngModel)]="characterSheet.bonds" class="bottom-border mb-3 " type="text " placeholder=" "></textarea>
                        <label class="floating ">Bonds</label>
                    </div>
                    <div class="input-group ">
                        <textarea [(ngModel)]="characterSheet.flaws" class="bottom-border mb-3 " type="text " placeholder=" "></textarea>
                        <label class="floating ">Flaws</label>
                    </div>
                    <div class="input-group features align-self-stretch ">
                        <textarea class="mb-3 " type="text " placeholder=" "></textarea>
                        <label class="stay ">Features & Traits</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <button type="submit" (click)="saveSheet()" class="btn btn-success ml-4 btn-save">Save</button>
            <button type="button" (click)="showWarning()" class="btn btn-danger ml-4 btn-save">Delete Charactersheet</button>
            <div *ngIf="deleteSure">
                <br>
                <h5 class="ml-4 d-inline-block p-3">Are you sure?</h5>
                <br>
                <button type="button" (click)="deleteSure=false" class="btn btn-danger ml-4 btn-save">No</button>
                <button type="button" (click)="deleteSheet()" class="btn btn-success ml-4 btn-save">Yes</button>
            </div>

        </div>

    </div>

</body>

</html>