<div class="background">
    <div class="content container form-group">
        <app-character-sheet #sheet [sheetName]='sheetName'></app-character-sheet>
        <div class="container-fluid buttons">
            <button type="submit" (click)="sheet.saveSheet()" class="dnd-btn btn ml-4">Save</button>
            <button type="button" (click)="showWarning()" class="dnd-btn btn ml-4">Delete Charactersheet</button>
            <div *ngIf="deleteSure">
                <br>
                <h5 class="ml-4 d-inline-block p-3">Are you sure?</h5>
                <br>
                <button type="button" (click)="deleteSure=false" class="btn dnd-btn ml-4">No</button>
                <button type="button" (click)="sheet.deleteSheet()" class="btn dnd-btn ml-4">Yes</button>
            </div>
        </div>
    </div>
</div>