<html>

<body>
    <app-navbar></app-navbar>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-side col-6">
                    <!--<img src="assets/dnd_sheet.png" alt="dnd sheet">-->
                </div>
                <div class="right-side col-6">
                    <h1>Make your own charactersheets now</h1>
                    <h3>This website is made to make your D&D charactersheets more easily managable and accessible. Feel free to make an account and try it out :)</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>