html {
    height: 100%;
}

body {
    font-size: 0.4em;
    color: rgb(24, 24, 24);
    height: 100%;
}

input {
    width: 80%;
}

.content {
    margin-inline: auto;
    margin-top: 20px;
    max-width: 900px;
    background-color: var(--main-grey);
    height: 100%;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.name-input {
    width: 100%;
}

.background {
    margin-top: 0;
    background-color: var(--dark-grey);
    overflow: hidden;
}

.profile-pic {
    width: 60px;
    height: 60px;
    float: left;
}

.username {
    float: right;
    padding-left: 10px;
}

.username-pic {
    display: inline-block;
}

.sheet-add {
    background-color: rgb(206, 206, 206);
}

.friend-add {
    width: 40px;
    height: 40px;
}

h1 {
    padding-top: 15px;
    text-align: center;
}

.card {
    width: 1em;
}

.card-body {
    background-color: rgb(224, 224, 224);
}

.checkbox {
    width: 20px;
    height: 20px;
}

label {
    font-size: 1.5em;
}